.section4 {
    position: relative;
}

.blogs {
    width: 30px;
    height: 100vh;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
    z-index: 1000;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
    transition: width 0.5s;
    position: absolute;
    left: 0%;
}

.blogs:hover {
    width: 250px;
    transform: translateX(0%);
}

.blogs:hover .blog-1 {
    opacity: 1;
}

.blog-1 {
    opacity: 0;
    transition: opacity 0.3s;
    margin: 10px;
    text-align: center;
}

.blog-1 img {
    height: 100px;
    width: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
