* , *::before, *::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: monospace;
   font-size: 16px;
   margin: 0;
   background-color: white;
   min-height: 100vh;
   background: #000;
   position: relative;
   overflow-x: hidden;
   cursor: pointer;
}
.wrapper{
    display: flex;
    flex-wrap: nowrap;
}
.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(4, 85, 123, 0.45);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
}
.section h2{
    color: white;
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3px;
}
::-webkit-scrollbar{
    width: 1px;
}
a{
    color: white;
    text-decoration: none;
}
.header{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: space-between;
    top: 5%;
}
.home{
    margin-left: 20px;
}
.watching{
    margin-right: 20px;
}
button{
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 0.5px solid rgb(80, 79, 79);
}
.content{
    color: white;
    width: 40%;
    line-height: 1.5;
}
.buy{
    position: absolute;
    top: 63%;
    left: 40%;
}
.khampha
{
    width: 200px;
    background-color: black;
    color: white;
}
/* product  */

.products{
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}
.prd-item1,
.prd-item2,
.prd-item3,
.prd-item4{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}
.product-item{
    width: 300px;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-item .img img{
    width: 200px;
    height: 200px;
    background-size: cover;
}
.cart{
    width: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    border-radius: 0px 10px 10px 0px;

}
.cart .icon{
    margin: 20px;
font-size: 25px;
}
.cart .icon i{
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.cart .icon a{
   font-size: 20px;
   display: flex;
   flex-wrap: nowrap;
}

