<div class="full-container">
    <form action="" [formGroup]="frm1" (ngSubmit)="submit()">
        <div class="title">
            <h2>Thêm sản phẩm</h2>
        </div>
        <div class="container">
            <div class="name">
                <input type="text" formControlName="name" placeholder="Tên sản phẩm">
            </div>
            <div class="price">
                <input type="number"  formControlName="price" placeholder="Giá sản phẩm">
            </div>
            <div class="quantity">
                <input type="number" formControlName="quantity" placeholder="Số lượng">
            </div>
            <div class="slogan">
                <textarea style="width: 100%;" placeholder=" Slogan của bạn " name="slogan" id="slogan" formControlName="slogan"></textarea>
            </div>
            <div class="category">
                <select formControlName="category" name="category" id="category">
                    <option value="">Danh mục</option>
                    <option value="food">Đồ ăn</option>
                    <option value="drink">Đồ uống</option>
                    <option value="snack">Ăn vặt</option>
                </select>
            </div>
            <div class="image">
                <label for="" style="font-weight: bold;">Thêm ảnh</label>
                <input type="file" formControlName="image">
             </div>
           <div class="thems">
                <button type="submit">Thêm</button>
           </div>
        </div>
    </form>
</div>
<!-- <p>Form value {{frm1.value|json}}</p> -->
