<link rel="stylesheet" href="/stylesheets/node.css">
<div class="form_container">
    <form id="form_Product" method="post" action="/product/store">
        <h1>ADD PRODUCT</h1>

        <label for="">Thêm sản phẩm</label>
        <input type="text" id="nameProduct" name="name"> 

        <label for="">Thêm Ảnh Mới</label>
        <input type="file" name="image1" id="img">
        <input type="file" name="image2" id="img">

        <label for="">Giá sản phẩm</label>
        <input type="text" value="" name="price" id="price">

        <label for="">Chất liệu</label>
        <select name="material" id="material">
            <option value=""></option>
            <option value="gạch">gạch</option>
            <option value="đá">đá</option>
            <option value="hiện đại">hiện đại</option>
            <option value="ấm cúng">ấm cúng</option>
            <option value="đơn giản<">đơn giản </option>
        </select>

        <label for="">Số lượng</label>
        <input type="number" name="quantity" id="quantityProduct">

        <label for="">Tiêu đề</label>
        <textarea name="title" id="titleProduct" cols="40" rows="5"></textarea>

    <input type="submit" value="Thêm Ngay" id="addProduct">
    </form>
</div>