<h1>tìm kiếm sản phẩm yêu thích của bạn</h1>
<form method="get" action="">
    <input type="text" name="p" id="search" placeholder="tìm kiếm" style="width: 100%; margin: 10px 0px; padding: 10px; border-radius: 5px;"> <br>
    <input type="submit" id="result" style="padding: 10px; color: white; background-color: black; border-radius: 10px;">
</form>

<h2>bạn vừa search sản phẩm :  {{title}}</h2>

