.cart{
    width: auto;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1000;
    border-radius: 0px 10px 10px 0px;

}
.cart .icon{
    margin: 20px;
font-size: 25px;
}
.cart .icon i{
color: white;
display: flex;
justify-content: center;
align-items: center;
}
.cart .icon a{
   font-size: 20px;
   display: flex;
   flex-wrap: nowrap;
}
#quantity-cart
{
    width: 50px;
    text-align: center;
}