<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="..."></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Bánh ông tây mật táo</h1>
            <p>Bánh ông tây mật táo được chiếc xuất từ hương vị tự nhiên của thiên nhiên , mang bản sắc thảo mộc điền đem lại màu sắc tươi ngon và hấp dẫn , hiện tại chúng tôi đã và đang trong tiến hành xuất ra nhiều địa phương khác nhau !!</p>
            <a class="btn btn-primary" href="#!">Xem Ngay!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Chết lặng vì âm hưởng hay chết lặng vì những vị ngọt trên môi từ nhà hàng chuyên thực phẩm của chúng tôi !!!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-1000">
                <div class="card-body">
                    <h2 class="card-title">Bánh Ngọt</h2>
                    <p class="card-text">Thắm hồng với những vì ngọt ngào từ món bánh , đậm đà sắc màu và mê li sắc mí , đem lại cảm giác nồng nàn và mê say , ngất ngây trời mây .</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Xem Ngay</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-200" >
                <div class="card-body">
                    <h2 class="card-title">Ăn Vặt</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Xem Ngay</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-300">
                <div class="card-body">
                    <h2 class="card-title">Nước Uống</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Xem Ngay</a></div>
            </div>
        </div>
    </div>
    <app-sanpham></app-sanpham>
</div>