
<div class="text-white text-center">
  <img src="assets/images/biadep.png" alt="" style="width: 100%; height: 200px; object-fit: cover;">
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" alt="" style="width: 70px; height: auto; object-fit: cover; filter: brightness(0) invert(1);">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/sanpham">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/gioithieu">Giới thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/giohang">Giỏ hàng</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Liên hệ
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Quản trị website</a></li>
              <li><a class="dropdown-item" href="#">Số điện thoại</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Nhắn tin trực tiếp </a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dangnhap">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dangki" aria-disabled="false">Đăng kí</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-3" type="search" placeholder="tìm kiếm sản phẩm yêu thích" aria-label="Search" style="width: 250px;">
          <button class="btn btn-outline-success" type="submit">Tìm</button>
        </form>
      </div>
    </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
     <marquee behavior="" direction="" style="font-size: 20px; font-weight: bold; color: red;"> Cảm ơn vì đã ghé website, thắc mắc liên hệ 0333376951 !!!</marquee>
    
      <!-- <app-cart [so_san_pham]="so_san_pham">
      </app-cart> -->

      <!-- <button (click)="tang()">Tăng</button> -->
      
      <!-- <app-sanpham [food]="foodItems" (gui_gia_tri)="nhan_gia_tri($event)">

      </app-sanpham> -->

      <!-- <span>Giá  : <b>{{linksp.giasach}}</b></span>
      <p> <a [href] = "linksp.url" > {{linksp.ten}} </a> <br> 
        <a [href] = "linksp.url" target="tlw"> 
        <img [src] = "linksp.logo" width="80"> </a> </p> -->
        <!-- <p>
          Số lượng sách : <input (keyup)="xuly($event)">
          Tiền : {{thanhtien}} VND
        </p> -->

      <!-- <p>Giá trị nhập : <strong style="color: red;"> {{giatri}} </strong></p> -->

      <!-- <p>
        <span *ngIf="diem>=5">Đậu</span>
        <span *ngIf="diem<5">RỚt</span>
      </p>
      <p>
        <span *ngIf="phai==true">Nam</span>
        <span *ngIf="phai==false">Nữ</span>
      </p>

      <select name="" id="">
        <option *ngFor="let t of thu">{{t}}</option>
      </select>

      <p [ngSwitch]="true">Xếp loại :  
        <b *ngSwitchCase='diem>=9' >Giỏi</b>
        <b *ngSwitchCase='9> diem && diem>=7' > Khá</b>
        <b *ngSwitchCase='7 > diem && diem>=5' >TRung BÌnh</b>
        <b *ngSwitchDefault >Yếu</b>
      </p> -->

    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <!-- Section: Links  -->
  <section class="p-1">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Thế Giới Ẩm Thực
          </h6>
          <p>
           chào bạn ! rất vui được làm quen , tôi là chuyên gia chuyên cung cấp 1 số nguồn thực phẩm đảm bảo chất lượng 100%
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Danh mục
          </h6>
          <p>
            <a href="#!" class="text-reset">Đồ ăn</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Nước uống</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ăn vặt</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Đồ dùng</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Hỗ trợ
          </h6>
          <p>
            <a href="#!" class="text-reset">Thông tin</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Chính sách</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Cài đặt</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Giúp đỡ</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Liên Hệ</h6>
          <p><i class="fas fa-home me-3"></i> Ho Chi Minh City 2024</p>
          <p><i class="fas fa-phone me-3"></i> + 84 3333 769 521</p>
          <p><i class="fas fa-print me-3"></i> + 84 9827 728 762</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold" href="#">nguyenthienphu.right</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
