<div class="row">
    <div class="col-md-12">
      <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><a href="#"><b>Bảng điều khiển</b></a></li>
        </ul>
        <div id="clock"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <!--Left-->
    <div class="col-md-12 col-lg-6">
      <div class="row">
     <!-- col-6 -->
     <div class="col-md-6">
      <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
        <div class="info">
          <h4>Tổng khách hàng</h4>
          <p><b id="totalCustomers">0 khách hàng</b></p>
          <p class="info-tong">Tổng số khách hàng được quản lý.</p>
        </div>
      </div>
    </div>
     <!-- col-6 -->
        <div class="col-md-6">
          <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
            <div class="info">
              <h4>Tổng sản phẩm</h4>
              <p><b id="totalProduct">0 sản phẩm</b></p>
              <p class="info-tong">Tổng số sản phẩm được quản lý.</p>
            </div>
          </div>
        </div>
         <!-- col-6 -->
        <div class="col-md-6">
          <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
            <div class="info">
              <h4>Tổng đơn hàng</h4>
              <p><b id="totalOrder">999 đơn hàng</b></p>
              <p class="info-tong">Tổng số hóa đơn bán hàng trong tháng.</p>
            </div>
          </div>
        </div>
         <!-- col-6 -->
        <div class="col-md-6">
          <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
            <div class="info">
              <h4>Sắp hết hàng</h4>
              <p><b id="totalStocks">4 sản phẩm</b></p>
              <p class="info-tong">Số sản phẩm cảnh báo hết cần nhập thêm.</p>
            </div>
          </div>
        </div>
         <!-- col-12 -->
         <div class="col-md-12">
          <div class="tile">
              <h3 class="tile-title">Tình trạng đơn hàng</h3>
            <div>
              <table class="table table-bordered" id="sampleTable">
                <thead>
                  <tr>
                    <th>ID đơn hàng</th>
                    <th>Tên khách hàng</th>
                    <th>Tổng tiền</th>
                    <th>Trạng thái</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- / div trống-->
          </div>
         </div>
          <!-- / col-12 -->
           <!-- col-12 -->
          <div class="col-md-12">
              <div class="tile">
                <h3 class="tile-title">Khách hàng mới</h3>
              <div>
                <table class="table table-hover" id="sampleTable2">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Tên khách hàng</th>
                      <th>Ngày sinh</th>
                      <th>Số điện thoại</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
           <!-- / col-12 -->
      </div>
    </div>
    <!--END left-->
    <!--Right-->
    <div class="col-md-12 col-lg-6">
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Dữ liệu 6 tháng đầu vào</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="tile">
            <h3 class="tile-title">Thống kê 6 tháng doanh thu</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="barChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--END right-->
  </div>