<h2 class="text-center">Giỏ hàng của bạn</h2>
<div class="container"> 
 <table id="cart" class="table table-hover table-condensed"> 
  <thead> 
   <tr> 
    <th style="width:50%">Tên sản phẩm</th> 
    <th style="width:10%">Giá</th> 
    <th style="width:8%">Số lượng</th> 
    <th style="width:22%" class="text-center">Thành tiền</th> 
    <th style="width:10%"> </th> 
   </tr> 
  </thead> 
  <tbody><tr> 
  
  </tr> 
  <tr> 
   <td data-th="Product"> 
    <div class="row"> 
     <div class="col-sm-2 hidden-xs"><img src="https://images.pexels.com/photos/8215135/pexels-photo-8215135.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sản phẩm 1" class="img-responsive" width="100">
     </div> 
     <div class="col-sm-10"> 
      <h4 class="nomargin">Sản phẩm 2</h4> 
      <p>Mô tả của sản phẩm 2</p> 
     </div> 
    </div> 
   </td> 
   <td data-th="Price">{{price}} đ</td> 
   <td data-th="Quantity"><input (keyup)="xuly($event)" class="form-control text-center" value="{{so_san_pham}}" type="number" max="20"  min="1">
   </td> 
   <!-- <button (click)="tang()"></button> -->
   <!-- {{so_san_pham}} -->
   <td data-th="Subtotal" class="text-center">{{thanhtien}} đ</td> 
   <td class="actions" data-th="">
    <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i>
    </button> 
    <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i>
    </button>
   </td> 
  </tr> 
  </tbody><tfoot> 
   <tr class="visible-xs"> 
   
   </tr> 
   <tr> 
    <td><a href="sanpham" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
    </td> 
    <td colspan="2" class="hidden-xs"> </td> 
    <td class="hidden-xs text-center"><strong>Tổng tiền {{thanhtien}} đ</strong>
    </td> 
    <td><a href="" class="btn btn-success btn-block">Thanh toán</a>
    </td> 
   </tr> 
  </tfoot> 
 </table>
</div>
